body{
		color: white;
}
.buttons {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #54b0b0));
	background:-moz-linear-gradient(top, #768d87 5%, #54b0b0 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #54b0b0 100%);
	background:-o-linear-gradient(top, #768d87 5%, #54b0b0 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #54b0b0 100%);
	background:linear-gradient(to bottom, #768d87 5%, #54b0b0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#54b0b0',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #699c8c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #050505;
}
.buttons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #54b0b0), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #54b0b0 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #54b0b0 5%, #768d87 100%);
	background:-o-linear-gradient(top, #54b0b0 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #54b0b0 5%, #768d87 100%);
	background:linear-gradient(to bottom, #54b0b0 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b0b0', endColorstr='#768d87',GradientType=0);
	background-color:#54b0b0;
}
.buttons:active {	
	position:relative;
	top:1px;
}
